extends src/pug/_template

block metaTagsForCurrentPage
	meta(name="description" content=metaDescription.descriptionHome)
	meta(name="keywords" content=metaKeywords.keywordsHome)
block title
	| Home page