extends src/pug/_template

include src/pug/mixins/_sidebar

block metaTagsForCurrentPage
	meta(name="description" content=metaDescription.descriptionHome)
	meta(name="keywords" content=metaKeywords.keywordsHome)
block title
	| Home

block colorLogo
	img(src="/src/images/logo-white.svg" class="nav-logo" alt="logo")

block hero
	include /src/pug/blocks/_hero


