/*
===============
About Page
===============
*/

.page-hero {
  background: var(--clr-grey-10);
  color: var(--clr-grey-5);
  display: grid;
  min-height: 20vh;
  place-items: center;
}

.page-hero-title {
  font-weight: 500;
}

.about-text {
  line-height: 2;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 45em;
}

/* page navbar */
.page .nav-link {
  color: var(--clr-grey-1);
}

.page .nav-link:hover {
  color: var(--clr-primary-5);
}

.page .toggle-cart {
  color: var(--clr-grey-1);
}