/*
===============
About Page
===============
*/

.page-hero {
  background: var(--grey-200);
  color: var(--grey-500);
  display: grid;
  min-height: 20vh;
  place-items: center;
}

.page-hero-title {
  margin-bottom: 0;
}

.about-text {
  color: var(--grey-500);
  line-height: 2;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 45em;
}