.btn {
  background: var(--clr-primary-5);
  border-color: transparent;
  border-radius: var(--radius);
  color: var(--clr-white);
  cursor: pointer;
  display: inline-block;
  letter-spacing: var(--spacing);
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-transform: uppercase;
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-primary-7);
  color: var(--clr-black);
}
