.cart-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: var(--transition);
  width: 100%;
  z-index: -1;
}

.cart-overlay.show {
  opacity: 1;
  z-index: 100;
}

.cart {
  background: var(--clr-grey-10);
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  max-width: 400px;
  overflow: scroll;
  padding: 3rem 1rem 0 1rem;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: var(--transition);
  width: 100%;
}

.show .cart {
  transform: translateX(0);
}

.cart-close {
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  cursor: pointer;
  font-size: 2rem;
  left: 1rem;
  position: absolute;
  top: 0.5rem;
}

.cart header {
  text-align: center;
}

.cart header h3 {
  font-weight: 500;
}

.cart-total {
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

.cart-checkout {
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 75%;
}

/* cart item */
.cart-item {
  align-items: center;
  column-gap: 1.5rem;
  display: grid;
  
  grid-template-columns: auto 1fr auto;
  margin: 1rem 0;
}

.cart-item-img {
  border-radius: var(--radius);
  height: 50px;
  object-fit: cover;
  width: 75px;
}

.cart-item-name {
  margin-bottom: 0.15rem;
}

.cart-item-price {
  color: var(--clr-grey-3);
  font-size: 0.75rem;
  margin-bottom: 0;
}

.cart-item-remove-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  cursor: pointer;
  letter-spacing: var(--spacing);
}

.cart-item-amount {
  color: var(--clr-grey-3);
  line-height: 1;
  margin-bottom: 0;
  text-align: center;
}

.cart-item-increase-btn,
.cart-item-decrease-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
  font-size: 0.85rem;
  padding: 0.25rem;
}
