.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../images/main-bcg.jpeg) center/cover;
  color: var(--clr-white);
  display: grid;
  margin-top: -6rem;
  min-height: 100vh;
  place-items: center;
}

.hero-container {
  max-width: var(--max-width);
  width: 90vw;
}

.hero h1 {
  font-weight: 700;
}

.hero h3 {
  font-size: 1.5rem;
  text-transform: none;
}

.hero-btn {
  background: transparent;
  border: 1px solid var(--clr-white);
  border-radius: var(--radius);
  color: var(--clr-white);
  display: inline-block;
  letter-spacing: var(--spacing);
  margin-top: 0.75rem;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  transition: var(--transition);
}

.hero-btn:hover {
  background: var(--clr-white);
  color: var(--clr-primary-5);
}

@media screen and (min-width: 800px) {
  .hero h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

@media screen and (min-width: 992px) {
  .hero h1 {
    font-size: 5.25rem;
    letter-spacing: 5px;
  }
  .hero h3 {
    font-size: 2.75rem;
    margin: 1.5rem 0;
  }
}
