.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
  url('../images/main-bcg.jpeg') center/cover;
  color: var(--white);
  display: grid;
  margin-top: -6rem;
  min-height: 70vh;
  place-items: center;
}

.hero-container {
  margin-bottom: -6rem;
  max-width: var(--max-width);
  width: var(--fluid-width);
}

/* add to globals */
.text-slanted {
  font-family: 'Kaushan Script', cursive;
}

.hero h1 {
  font-weight: bolder;
}

.hero h3 {
  font-size: 1.5rem;
  text-transform: none;
}

.hero-btn {
  background: transparent;
  border: 1px solid var(--white);
  letter-spacing: 3px;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
}

.hero-btn:hover {
  background: var(--white);
  color: var(--primary-500);
}

@media screen and (min-width: 800px) {
  .hero h3 {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 992px) {
  .hero h1 {
    font-size: 5.25rem;
    letter-spacing: 5px;
  }
  .hero h3 {
    font-size: 2.75rem;
    margin: 1.5rem 0;
  }
}
