.navbar {
  align-items: center;
  background: transparent;
  display: flex;
  height: 6rem;
  justify-content: center;
}

.nav-center {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  width: var(--fluid-width);
}

.nav-links {
  display: none;
}

.toggle-nav {
  align-items: center;
  background: var(--primary-500);
  border-color: transparent;
  border-radius: 2rem;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  height: 2.25rem;
  justify-content: center;
  transition: var(--transition);
  width: 3.75rem;
}

.toggle-nav:hover {
  background: var(--primary-300);
}

.toggle-container {
  margin-top: 0.75rem;
  position: relative;
}

.toggle-cart {
  background: transparent;
  border-color: transparent;
  color: var(--white);
  cursor: pointer;
  font-size: 1.6rem;
}

.cart-item-count {
  background: var(--primary-500);
  border-radius: 50%;
  color: var(--white);
  display: grid;
  font-size: 1rem;
  font-weight: bold;
  height: 1.75rem;
  place-items: center;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 1.75rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    position: relative;
  }
  .nav-logo {
    left: 65%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle-nav {
    display: none;
  }
  .nav-links {
    display: flex;
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  .nav-link {
    color: var(--white);
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-right: 3rem;
    transition: var(--transition);
  }
  .nav-link:hover {
    color: var(--primary-500);
  }
}

@media screen and (min-width: 992px) {
  .nav-logo {
    left: 50%;
  }
}