.sidebar-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  height: 100%;
  left: 0;
  opacity: 0;
  place-items: center;
  position: fixed;
  top: 0;
  transition: var(--transition);
  width: 100%;
  z-index: -1;
}

.sidebar-overlay.show {
  opacity: 1;
  z-index: 100;
}

.sidebar {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  height: 95vh;
  max-width: var(--fixed-width);
  padding: 4rem;
  position: relative;
  transform: scale(0);
  width: 90vw;
}

.show .sidebar {
  transform: scale(1);
}

.sidebar-close {
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.sidebar-link {
  color: var(--clr-grey-1);
  font-size: 1.5rem;
  text-transform: capitalize;
}

.sidebar-link i {
  color: var(--clr-grey-5);
  margin-bottom: 1rem;
  margin-right: 1rem;
}

@media screen and (min-width: 800px) {
  .sidebar-overlay {
    display: none;
  }
}