block var
	include ../pug/_var
include mixins/_sidebar
include layout/_nav

doctype html
html(lang="en")
	include layout/_head

body
	//include blocks/_navbar
	block navigation
		+nav()

	block content
		// hero
		block hero
		// sidebar
		.sidebar-overlay
			aside.sidebar
				// close the sidebar
				button.sidebar-close
					i.fas.fa-times
				// links
				ul.sidebar-links
					+sidebar(pages)

		block featured
		// end of cart items
		// section about page content
		block PageContent
		include layout/_footer

		block productsContainer

		.cart-overlay
			aside.cart
				button.cart-close
					i.fas.fa-times
				header
					h3.text-slanted your bag
				// cart items
				.cart-items


				footer
					h3.cart-total.text-slanted total: $12.99
					button.cart-checkout.btn checkout
	append body
		script(src="/src/js/index.js" type="module")
