block var
	include /src/pug/_var

doctype html
html(lang="en")
	include layout/_head

	body
		include layout/_nav
		block content
		include layout/_footer
	append body
		script(src="src/js/index.js" type="module")
