-
	let paths = {
		home:			"/index.pug",
		about:		"/src/pug/pages/about.pug",
		products:	"/src/pug/pages/products.pug"
	}

-
	let pages = [
		{
			title:	"Home",
			href:		"/index.pug",
			class:	"fas fa-home fa-fw"
		},
		{
			title:	"Products",
			href:		"/src/pug/pages/products.pug",
			class:	"fas fa-couch fa-fw"
		},
		{
			title:	"About",
			href:		"/src/pug/pages/about.pug",
			class:	"fas fa-book fa-fw"
		}
	]

-
	let metaKeywords = {
		keywordsHome:			"home page",
		keywordsAbout:		"about page",
		keywordsProduct:	"product page",
		keywordsProducts:	"products page",
	};

-
	let metaDescription = {
		descriptionHome:			"Description home page",
		descriptionAbout:			"Description about page",
		descriptionProduct:		"Description product page",
		descriptionProducts:	"Description products page",
	};

