-
	let pages = {
		home:     {
			url: "index.pug",
		},
		products: "products.pug",
		about:    "about.pug"
	}

-
	let metaKeywords = {
		keywordsHome:     "home page",
		keywordsAbout:    "about page",
		keywordsProduct:  "product page",
		keywordsProducts: "products page",
	};

-
	let metaDescription = {
		descriptionHome:     "Description home page",
		descriptionAbout:    "Description about page",
		descriptionProduct:  "Description product page",
		descriptionProducts: "Description products page",
	};



