mixin menu(pages)
	nav.navbar
		.nav-center
			.button.toggle-nav
				i.fas.fa-bars
			ul.nav-links
				li
					a(class="nav-link" href="index.pug") Home
					a(class="nav-link" href="src/pug/pages/products") products
					a(class="nav-link" href="src/pug/pages/about.pug") about