extends ../_template

block metaTagsForCurrentPage
	meta(name="description" content=metaDescription.descriptionAbout)
	meta(name="keywords" content=metaKeywords.keywordsAbout)
block title
	| About

block navigation
	+nav("navbar page", about)

block colorLogo
	img(src="/src/images/logo-black.svg" class="nav-logo" alt="logo")

block hero
	section.page-hero
		.section-center
			h2.page-hero-title
				| Home / About

block aboutPageContent
	section.section.section-center.about-page
		.title
			h2
				span
				|  Our history
				span
				|
		p.about-text
			| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat
			| accusantium sapiente tempora sed dolore esse deserunt eaque excepturi,
			| delectus error accusamus vel eligendi, omnis beatae. Quisquam, dicta.
			| Eos quod quisquam esse recusandae vitae neque dolore, obcaecati incidunt
			| sequi blanditiis est exercitationem molestiae delectus saepe odio
			| eligendi modi porro eaque in libero minus unde sapiente consectetur
			| architecto. Ullam rerum, nemo iste ex, eaque perspiciatis nisi, eum
			| totam velit saepe sed quos similique amet. Ex, voluptate accusamus
			| nesciunt totam vitae esse iste.






